{% extends 'BASE_PAGE.html' %}
{% load static %}
{% block custom_style %}
    <style>
    h3 {
        font-weight:bold;
    }
    #footer {
        padding: 15px 0;
        background: #fff;
        border-top: 1px solid #ddd;
        text-align: center;
    }
    #topcontrol {
      color: #fff;
      z-index: 99;
      width: 30px;
      height: 30px;
      font-size: 20px;
      background: #222;
      position: relative;
      right: 14px !important;
      bottom: 11px !important;
      border-radius: 3px !important;
    }

    #topcontrol:after {
      /*top: -2px;*/
      left: 8.5px;
      content: "\f106";
      position: absolute;
      text-align: center;
      font-family: FontAwesome;
    }

    #topcontrol:hover {
        color: #fff;
        background: #18ba9b;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    /* 侧栏导航 */
    .sideBox{padding:10px;height:220px;background:#fff;margin-bottom:10px;overflow:hidden;}
    .sideBox .hd{height:30px; line-height:30px; background:#f60; padding:0 10px;text-align:center;overflow:hidden;}
    .sideBox .hd .more{color:#fff;}
    .sideBox .hd h3 span{font-weight:bold; font-size:14px;color:#fff;}
    .sideBox .bd{padding:5px 0 0;}

    #sideMenu .bd li{margin-bottom:2px; height:30px; line-height:30px;text-align:center; overflow:hidden;}
    #sideMenu .bd li a{display:block;background:#EAE6DD;}
    #sideMenu .bd li a:hover{background:#D5CFBF;}

    /* 列表页 */
    #mainBox{margin-bottom:10px;padding:10px;background:#fff;overflow:hidden;}
    #mainBox .mHd{border-bottom:2px solid #09c;height:30px;line-height:30px;}
    #mainBox .mHd h3{display:initial;*display:inline;zoom:1;padding:0 15px;background:#09c;color:#fff;}
    #mainBox .mHd h3 span{color:#fff;font-size:14px;font-weight:bold;}
    #mainBox .path{float:right;}

    /* 位置导航 */
    .path{ height:30px; line-height:30px; padding-left:10px;}
    .path a,.path span{ margin:0 5px;}

    /* 文章列表 */
    .newsList{padding:10px;text-align:left;}
    .newsList li{background:url("../images/share/point.png") no-repeat 2px 14px; padding-left:10px;height:30px; line-height:30px;}
    .newsList li a{display:inline-block;*display:inline;zoom:1;font-size:14px;}
    .newsList li .date{float:right; color:#999;}
    .newsList li.split{margin-bottom:10px;padding-bottom:10px;border-bottom:1px dotted #ddd;height:0px;line-height:0px;overflow:hidden;}

    /* 通用带图片的信息列表_普通式 */
    .picList{padding:10px;text-align:left;}
    .picList li{margin:0 5px;height:190px;}

    h3.break {
        font-size:16px;
        display: block;
        white-space: nowrap;
        word-wrap: normal;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    h3.break>a {
        text-decoration:none;
    }

</style>
{% endblock %}
{% block bodyinfo %}

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            {% for banner in banner_list %}
                <div class="item {% ifequal forloop.counter 1 %}active{% endifequal %}" onclick="window.location.href='{% url 'projects:project_detail' banner.banner_project.id %}'" style="cursor:pointer;">
                <img src="{{ MEDIA_URL }}{{ banner.image }}" alt="{{ forloop.counter }} slide">
            </div>
            {% endfor %}
        </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
    <div class="row">
        {% for ad in advertise_list %}
        <div class="col-lg-4">
          <img class="img-circle" src="{{ MEDIA_URL }}{{ ad.image }}" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>{{ ad.title }}</h2>
          <p>{{ ad.project.desc }}</p>
          <p><a class="btn btn-default" href="{% url 'projects:project_detail' ad.project.id %}" role="button">项目详情 &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        {% endfor %}
      </div><!-- /.row -->
    {% for category in category_weight_list %}
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="box ui-draggable" id="mainBox">
                    <div class="mHd" style="">
                        <div class="path">
                            <a href="{% url 'projects:project_list' %}">更多...</a>
                        </div>
                        <h3>
                            {{ category.name }} <small style="color:#FFF;">{{ category.desc }}</small>
                        </h3>
                    </div>
                    <div class="mBd" style="padding-top:10px;">
                        <div class="row">
                            {% for project in category.project_set.all %}
                                {% if project.status != 'failed' %}
                                <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href="{% url 'projects:project_detail' project.id %}"><img style="height: 200px; width: 300px" alt="300x200" src="{{ MEDIA_URL }}{{ project.image_first }}" /></a>
                                    <div class="caption">
                                        <h3 class="break">
                                            <a href="{% url 'projects:project_detail' project.id %}">{{ project.name }}</a>
                                        </h3>
                                        <p>
                                            <div style="float:left;"><i class="glyphicon glyphicon-screenshot" title="目标金额" ></i> ${{ project.target_fund }} </div>
                                            <div style="float:right;"><i title="截至日期" class="glyphicon glyphicon-calendar"></i> {{ project.create_time|date:'Y-m-d' }} </div>
                                        </p>
                                        <br>
                                        <div class="progress" style="margin-bottom: 4px;">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {% if project.support_fund > project.target_fund %}100%{% else %}{% widthratio project.support_fund project.target_fund 100 %}%{% endif %}">
                                                <span >{% widthratio project.support_fund project.target_fund 100 %}% </span>
                                            </div>
                                        </div>
                                        <div><span style="float:right;"><i class="glyphicon glyphicon-star-empty" ></i></span>  <span ><i class="glyphicon glyphicon-user" title="支持人数"></i> {{ project.support_nums }}</span> </div>
                                    </div>
                                </div>
                            </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="container">
    <div class="row clearfix">
    <div class="col-md-12 column">
        <div class="box ui-draggable" id="mainBox">
            <div class="mHd" style="">
                <div class="path">
                    <a href="{% url 'projects:project_list' %}">更多...</a>
                </div>
                <h3>
                    其他 <small style="color:#FFF;">发现更多惊喜</small>
                </h3>
            </div>
            <div class="mBd" style="padding-top:10px;">
        <div class="row">
            {% for project in other_project_list %}
                <div class="col-md-3">
                <div class="thumbnail">
                    <img style="height: 200px; width: 300px" alt="300x200" src="{{ MEDIA_URL }}{{ project.image_first }}" />
                    <div class="caption">
                        <h3 class="break">
                            <a href="project.html">{{ project.name }}</a>
                        </h3>
                        <p>
                            <div style="float:left;"><i class="glyphicon glyphicon-screenshot" title="目标金额" ></i> ${{ project.target_fund }} </div>
                            <div style="float:right;"><i title="截至日期" class="glyphicon glyphicon-calendar"></i> {{ project.due_date|date:'Y-m-d' }} </div>
                        </p>
                        <br>
                            <div class="progress" style="margin-bottom: 4px;">
                              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {% if project.support_fund > project.target_fund %}100%{% else %}{% widthratio project.support_fund project.target_fund 100 %}%{% endif %}">
                                <span >{% widthratio project.support_fund project.target_fund 100 %}% </span>
                              </div>
                            </div>
                            <div><span style="float:right;"><i class="glyphicon glyphicon-star-empty" ></i></span>  <span ><i class="glyphicon glyphicon-user" title="支持人数"></i> {{ project.support_nums }}</span> </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
            </div>
        </div>

    </div>
    </div>
    </div>

      <!-- FOOTER -->
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div id="footer">
                    <div class="footerNav">
                         <a rel="nofollow" href="http://www.atguigu.com">关于我们</a> | <a rel="nofollow" href="http://www.atguigu.com">服务条款</a> | <a rel="nofollow" href="http://www.atguigu.com">免责声明</a> | <a rel="nofollow" href="http://www.atguigu.com">网站地图</a> | <a rel="nofollow" href="http://www.atguigu.com">联系我们</a>
                    </div>
                    <div class="copyRight">
                        Copyright ?2017-2017atguigu.com 版权所有
                    </div>
                </div>

            </div>
        </div>
    </div>

    </div><!-- /.container -->
{% endblock bodyinfo %}
{% block custom_script %}
    <script>
        $(".thumbnail img").css("cursor", "pointer");
    </script>
{% endblock %}