{% extends 'BASE_PAGE.html' %}
{% load static %}
{% block custom_style %}
    <style>
        #footer {
            padding: 15px 0;
            background: #fff;
            border-top: 1px solid #ddd;
            text-align: center;
        }
        #topcontrol {
          color: #fff;
          z-index: 99;
          width: 30px;
          height: 30px;
          font-size: 20px;
          background: #222;
          position: relative;
          right: 14px !important;
          bottom: 11px !important;
          border-radius: 3px !important;
        }
        #topcontrol:after {
          /*top: -2px;*/
          left: 8.5px;
          content: "\f106";
          position: absolute;
          text-align: center;
          font-family: FontAwesome;
        }
        #topcontrol:hover {
            color: #fff;
            background: #18ba9b;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }
        .label-type, .label-status, .label-order {
            background-color: #fff;
            color: #f60;
            padding : 5px;
            border: 1px #f60 solid;
        }
        #typeList  :not(:first-child) {
            margin-top:20px;
        }
        .label-text {
            padding : 6px;
        }
        .panel {
            border-radius:0;
        }
        h3.break {
            font-size:16px;
            display: block;
            white-space: nowrap;
            word-wrap: normal;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        h3.break>a {
            text-decoration:none;
        }
	</style>
{% endblock %}
{% block bodyinfo %}
    <div class="container theme-showcase" role="main">

        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a rel="nofollow" href="{% url 'index' %}"><i class="glyphicon glyphicon-home"></i> 众筹首页</a>
                                </li>
                                <li class="active">
                                    <a rel="nofollow" href="{% url 'projects:project_list' %}"><i class="glyphicon glyphicon-th-large"></i> 项目总览</a>
                                </li>
                                <li>
                                    <a rel="nofollow" href="{% url 'projects:create_step' 0 %}"><i class="glyphicon glyphicon-edit"></i> 发起众筹</a>
                                </li>
                                <li>
                                    <a rel="nofollow" href="{% url 'users:user_crowdfunding' %}"><i class="glyphicon glyphicon-user"></i> 我的众筹</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <ul id="typeList" style="list-style: none;">
                                <li>
                                    分类：<a href="?cg=&st={{ st }}&sort={{ sort }}&search={{ search }}"><span class="{% if cg == '' %}label-type{% else %}label-text{% endif %}">全部</span></a>
                                    {% for category in category_list %}
                                    <a  href="?cg={{ category.id }}&st={{ st }}&sort={{ sort }}&search={{ search }}"><span class="{% if cgn == category.name %}label-type{% else %}label-text{% endif %}">{{ category.name }}</span></a>
                                    {% endfor %}
                                </li>
                                <li>
                                    状态：<a href="?cg={{ cg }}&st=&sort={{ sort }}&search={{ search }}"><span class="{% if st == '' %}label-status{% else %}label-text{% endif %}">全部</span></a>
                                    <a href="?cg={{ cg }}&st=readyto&sort={{ sort }}&search={{ search }}"><span class="{% if st == 'readyto' %}label-status{% else %}label-text{% endif %}">即将开始</span></a>
                                    <a href="?cg={{ cg }}&st=funding&sort={{ sort }}&search={{ search }}"><span class="{% if st == 'funding' %}label-status{% else %}label-text{% endif %}">众筹中</span></a>
                                    <a href="?cg={{ cg }}&st=success&sort={{ sort }}&search={{ search }}"><span class="{% if st == 'success' %}label-status{% else %}label-text{% endif %}">众筹成功</span></a>
                                </li>
                                <li>
                                    排序：<a href="?cg={{ cg }}&st={{ st }}&sort=&search={{ search }}"><span class="{% if sort == '' %}label-order{% else %}label-text{% endif %}">综合排序</span></a>
                                    <a href="?cg={{ cg }}&st={{ st }}&sort=new&search={{ search }}"><span class="{% if sort == 'new' %}label-order{% else %}label-text{% endif %}">最新上线</span></a>
                                    <a href="?cg={{ cg }}&st={{ st }}&sort=tf&search={{ search }}"><span class="{% if sort == 'tf' %}label-order{% else %}label-text{% endif %}">金额最多</span></a>
                                    <a href="?cg={{ cg }}&st={{ st }}&sort=sn&search={{ search }}"><span class="{% if sort == 'sn' %}label-order{% else %}label-text{% endif %}">支持最多</span></a>
                                    {% if request.get_full_path == '/projects/list/?cg=&st=&sort=&search=' or request.get_full_path == '/projects/list/' %}
                                    {% else %}<a href="?cg=&st=&sort=&search="><span style="margin-left: 100px">清空搜索条件 ×</span></a>{% endif %}
                                </li>
                            </ul>
                        </div>
                        <div class="panel-footer" style="height:50px;padding:0;">
                            <div style="float:left;padding:15px;">
                            共{{ project_nums }}个众筹项目
                            </div>
                            <div style="float:right;">
                                <form class="navbar-form navbar-left" role="search">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="search" placeholder="请输入搜索内容">
                                    </div>
                                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i> 搜索</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="row">
                        {% for project in project_list.object_list %}
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <a href="{% url 'projects:project_detail' project.id %}"><img style="height: 200px; width: 300px" alt="300x200" src="{{ MEDIA_URL }}{{ project.image_first }}" /></a>
                                <div class="caption">
                                    <h3 class="break">
                                        <a href="{% url 'projects:project_detail' project.id %}">{{ project.name }}</a>
                                    </h3>
                                    <p>
                                        <div style="float:left;"><i class="glyphicon glyphicon-screenshot" title="目标金额" ></i> ${{ project.target_fund }} </div>
                                        <div style="float:right;"><i title="截至日期" class="glyphicon glyphicon-calendar"></i> {{ project.create_time|date:'Y-m-d' }} </div>
                                    </p>
                                    <br>
                                        <div class="progress" style="margin-bottom: 4px;">
                                          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {% if project.support_fund > project.target_fund %}100%{% else %}{% widthratio project.support_fund project.target_fund 100 %}%{% endif %}">
                                            <span >{%  widthratio project.support_fund project.target_fund 100 %}% </span>
                                          </div>
                                        </div>
                                        <div><span style="float:right;"><i class="glyphicon glyphicon-star-empty" ></i></span>  <span ><i class="glyphicon glyphicon-user" title="支持人数"></i>{{ project.support_nums }}</span> </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column" style="text-align:center">
                    <ul class="pagination">
                        {% if project_list.has_previous %}
                            <li><a rel="nofollow" href="?{{ project_list.previous_page_number.querystring }}">上一页</a></li>
                        {% endif %}
                        {% for page in project_list.pages %}
                            {% if page %}
                                <li><a rel="nofollow" href="?{{ page.querystring }}">{{ page }}</a></li>
                            {% else %}
                                <li><a rel="nofollow" href="">...</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if project_list.has_next %}
                            <li><a rel="nofollow" href="?{{ project_list.next_page_number.querystring }}">下一页</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="container" style="margin-top:20px;">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div id="footer">
                        <div class="footerNav">
                             <a rel="nofollow" href="http://www.atguigu.com">关于我们</a> | <a rel="nofollow" href="http://www.atguigu.com">服务条款</a> | <a rel="nofollow" href="http://www.atguigu.com">免责声明</a> | <a rel="nofollow" href="http://www.atguigu.com">网站地图</a> | <a rel="nofollow" href="http://www.atguigu.com">联系我们</a>
                        </div>
                        <div class="copyRight">
                            Copyright ?2010-2014atguigu.com 版权所有
                        </div>
                    </div>

                </div>
            </div>
        </div>

</div> <!-- /container -->
{% endblock bodyinfo %}
{% block custom_script %}
    <script>
        $('#myTab a').click(function (e) {
          e.preventDefault()
          $(this).tab('show')
        })
	</script>
{% endblock %}